#dashboard {
    .dashboard_content {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

        .dashboard_main {
            .dashboard_admin {
                .avatar {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    border: 2px solid rgb(221, 9, 9);
                    position: relative;
                   margin: 20px 0;

                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        padding: 1.5rem;
                    }
                }
            }
            .dashboard_controller{
                .controller_item{
                    button{
                        width: 100%;
                    }
                }
            }
        }

        .dashboard_views {}
    }
}