//Font
@font-face {
    font-family: UTMAvo;
    src: url("/font/UTM\ Avo.ttf");
}

@font-face {
    font-family: UTMAvoBold;
    src: url("/font/UTM\ AvoBold.ttf");
}

//Colorrgb(255, 255, 255)rgb(3, 2, 66)
$blue700: rgb(4, 0, 59);
$color-bg: rgb(4, 0, 59);
$color-orange: rgb(251, 84, 18);
$colordark-300: rgb(21, 19, 44);
